@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:url("../public/370679-PBP86J-209.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}